.switch-toggle {
    background: #F2F2F2;
    border-radius: 8px;
}
.switch-toggle input {
    position: absolute;
    opacity: 0;
}
.switch-toggle input + label {
    padding: 2px 7px;
    color: black;
    cursor: pointer;
}

.switch-toggle input:checked + label {
    background: white;
    border-radius: 8px;
    margin: 2px;
}

label {
    margin: 0px;
}

button.btn-back {
    width: 35px;
    height: 30px;
    border: 0;
    cursor: pointer;
    font-size: 2rem;
    background-image: url('/images/img04.png');
    background-size: 35px 30px;
    background-color: white;
}
