.large-font-size {
    font-size: 80px;
    line-height: 80px;
}

.table-weather {
    background-color: #F2F2F2;
    border-radius: 10px;
    width: 100%;
    font-size: 11px;
    font-weight: bold;
    font-family: ui-serif;
}

.text-color-grey-1 {
    color: #8A8A8A;
}

.forecast-btn {

    width: 100%;
    padding: 0px;
    margin: 0px;
}

.slider {
    display: flex;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}
.slider > div {
    flex-shrink: 0;
    width: 58px;
    height: 100px;
}

.column1 {
    margin: auto;
    text-align: left;
    padding: 0px;
    width: 55%;
}
.column2 {
    margin: auto;
    text-align: right;
    padding: 0px;
    width: 25%;
}
.column3 {
    text-align: right;
    padding: 0px;
    width: 15%;
}
.column4 {
    text-align: right;
    margin: auto;
    width: 5%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
    margin-left: 0px;
    margin-right: 0px;
}
.row:first-child {
    margin-left: 0px;
    margin-right: 0px;
}

hr.no-margin {
    margin: 0px;
}

.pac-container:after{display:none !important;}

.hide-button {
    color: white;
    background-color: white;
    border: white;
    margin-left: -500px;
}

.searchBox {
    border-radius: 10px;
    font-size: 20px;
    border: 0px;
    font-weight: bold;
    margin-top: 2px;
    margin-bottom: 20px;
}

button.btn-setting {
    width: 30px;
    height: 30px;
    border: 0;
    cursor: pointer;
    font-size: 2rem;
    background-image: url('/images/img03.png');
    background-size: 30px 30px;
    background-color: white;
}
