<!DOCTYPE html>
<html lang="en" xmlns:th="http://wwww.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css">
    <script src="/webjars/jquery/3.6.0/jquery.min.js"></script>
    <script src="/webjars/bootstrap/5.0.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script async src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyBOuomSxYTm0mPmD6PuM1_rUrzyNue4qu0&callback=initMap"></script>
    <script src="js/location-search.js"></script>
</head>
<body>
    <form action="#" th:action="@{/searchLocation}" th:object="${currentUser}" method="post">
        <input class="hide-button" type="submit" id="searchSubmit" />
        <input id="searchLat" type="hidden" th:field="*{lat}" />
        <input id="searchLon" type="hidden" th:field="*{lon}" />
        <input id="searchName" type="hidden" th:field="*{locationName}" />
        <input id="searchTemperature" type="hidden" th:field="*{temperature}" />
        <input id="searchWindSpeed" type="hidden" th:field="*{windSpeed}" />
        <input id="searchPressure" type="hidden" th:field="*{pressure}" />
        <input id="searchPrecipitation" type="hidden" th:field="*{precipitation}" />
        <input id="searchDistance" type="hidden" th:field="*{distance}" />
        <input id="searchTimeFormat" type="hidden" th:field="*{timeFormat}" />
        <div class="container row">
            <div class="col-1">
                <img src="images/img02.png" width="30" height="30"/>
            </div>
            <div class="col-10">
                <input id="searchInput" class="controls searchBox" style="width: 100%" type="text" th:value="*{locationName}" placeholder="Search">
                <div id="hourlyRainChart"></div>
            </div>
    </form>
            <div class="col-1">
                <form action="#" th:action="@{/setting}" th:object="${currentUser}" method="post">
                    <input id="settingLat" type="hidden" th:field="*{lat}" />
                    <input id="settingLon" type="hidden" th:field="*{lon}" />
                    <input id="settingName" type="hidden" th:field="*{locationName}" />
                    <input id="settingTemperature" type="hidden" th:field="*{temperature}" />
                    <input id="settingWindSpeed" type="hidden" th:field="*{windSpeed}" />
                    <input id="settingPressure" type="hidden" th:field="*{pressure}" />
                    <input id="settingPrecipitation" type="hidden" th:field="*{precipitation}" />
                    <input id="settingDistance" type="hidden" th:field="*{distance}" />
                    <input id="settingTimeFormat" type="hidden" th:field="*{timeFormat}" />
                    <button class="btn-setting" type="submit" id="settingSubmit" />
                </form>
            </div>
        </div>
    <div class="container text-center m-0">
<!--        <div>-->
<!--            <form th:action="@{/logout}" method="post">-->
<!--                <input type="submit" value="Sign Out"/>-->
<!--            </form>-->
<!--            <a th:href="@{/list_users}">List All User</a>-->
<!--            <a th:href="@{/unit_settings}">Unit Settings</a>-->
<!--        </div>-->
        <table class="m-auto">
            <thead></thead>
            <tbody>
                <tr>
                    <td rowspan="2">
                        <img th:src="${iconUrl} + ${current.weather[0].icon} + ${iconExt}" class="m-0">
                    </td>
                    <td>
                        <p class="text-start m-0" th:text="${#strings.capitalize(current.weather[0].description)}"></p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="text-color-grey-1 text-start m-0" th:text="${current.weather[0].main}"></p>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="text-center m-0">
            <p class="large-font-size fw-bold m-0" th:text="${#numbers.formatInteger(current.getTemp(currentUser.temperature), 1)} + ${units.getTemperatureUnit(currentUser.temperature)}"></p>
        </div>
        <div>
            <p class="text-color-grey-1" th:text="'Feels like ' + ${#numbers.formatInteger(current.getFeels_like(currentUser.temperature), 1)} + ${units.getTemperatureUnit(currentUser.temperature)}"></p>
        </div>
        <h5 class="pt-3"><strong>Precipitation will end within 1 hour</strong></h5>
        <div id="containerHourlyRain" style="width: 100%; height: 120px; margin: 0px; border: 0px"></div>
        <script th:inline="javascript">
            $(function(){
                Highcharts.chart('containerHourlyRain', {
                    chart: {
                        type: 'area',
                        marginLeft: 0,
                        marginRight: 0,
                    },
                    title: {
                        text: '',
                        enabled: false,
                    },
                    subtitle: {
                        enabled: false,
                    },
                    exporting: {
                        enabled: false
                    },
                    xAxis: {
                        categories: [[${keySet}]],
                        min: -6,
                        tickInterval: 15,

                    },
                    yAxis: {
                        offset: 0,
                        gridLineDashStyle: 'longdash',
                        showFirstLabel: true,
                        max: [[${maxValue}]],
                        title: {
                            enabled: false,
                        },
                        labels: {
                            formatter: function() {
                                if (this.value != 0) {
                                    return this.value + [[${unitFormat}]];
                                } else {
                                    return this.value;
                                }
                            },
                            align: 'left',
                            x: 0,
                            y: -2,
                        },

                   },
                    plotOptions: {
                        area: {
                          borderWidth: 0
                        },
                        column: {
                            pointPadding: 0.2,
                            borderWidth: 0
                        },
                        series: {
                            marker: {
                                enabled: false,
                            }
                        }
                    },
                    credits: {
                        enabled: false
                    },
                    series: [{
                        name: '',
                        data: [[${values}]],
                        showInLegend: false,
                        color: '#99D8CF',
                    }]
                });
            });
        </script>
        <table class="table-weather p-3">
            <thead></thead>
            <tbody>
                <tr>
                    <td class="text-start p-2 pt-3" th:text="'Wind: ' + ${#numbers.formatDecimal(current.getWind_speed(currentUser.windSpeed), 1, 1, 'POINT')} + ${units.getWindSpeedUnit(currentUser.windSpeed)}"></td>
                    <td class="text-center p-2 pt-3 px-0" th:text="'Humidity: ' + ${#numbers.formatInteger(current.humidity, 1)} + '%'"></td>
                    <td class="text-end p-2 pt-3" th:text="'UV index: ' + ${current.uvi}"></td>
                </tr>
                <tr>
                    <td class="text-start p-2 pb-3" th:text="'Pressure: ' + ${#numbers.formatDecimal(current.getPressure(currentUser.pressure), 1, 1, 'POINT')} + ${units.getPressureUnit(currentUser.pressure)}"></td>
                    <td class="text-center p-2 pb-3 px-0" th:text="'Visibility: ' + ${#numbers.formatDecimal(current.getVisibility(currentUser.distance), 1, 1, 'POINT')} + ${units.getDistanceUnit(currentUser.distance)}"></td>
                    <td class="text-end p-2 pb-3" th:text="'Dew point: ' + ${#numbers.formatInteger(current.getDew_point(currentUser.temperature), 1)} + ${units.getTemperatureUnit(currentUser.temperature)}"></td>
                </tr>
            </tbody>
        </table>
        <p></p>
        <div class="slider">
            <div th:each="hourlyItem: ${hourly}">
                <div th:switch="${currentUser.timeFormat}">
                    <div th:case="'1'" th:text="${#strings.toLowerCase(#temporals.format(hourlyItem.dt, 'ha'))}"></div>
                    <div th:case="'2'" th:text="${#strings.toLowerCase(#temporals.format(hourlyItem.dt, 'k:mm'))}"></div>
                </div>

                <img th:src="${iconUrl} + ${hourlyItem.weather[0].icon} + ${iconExt}">
                <div th:text="${#numbers.formatInteger(hourlyItem.getTemp(currentUser.temperature), 1)} + ${units.getTemperatureUnit(currentUser.temperature)}"></div>
            </div>
        </div>
        <div th:each="dailyItem, iter : ${daily}">
            <div type="button" class="row forecast-btn" data-toggle="collapse" th:data-target="'#collapse-contents' + ${iter.index}">
                <div class="column1" th:text="${#temporals.format(dailyItem.dt, 'EEE MMM yy')}"></div>
                <div class="column2" th:text="${#numbers.formatInteger(dailyItem.temp.getMax(currentUser.temperature), 1)} + '/' + ${#numbers.formatInteger(dailyItem.temp.getMin(currentUser.temperature), 1)} + ${units.getTemperatureUnit(currentUser.temperature)}"></div>
                <div class="column3"><img th:src="${iconUrl} + ${dailyItem.weather[0].icon} + ${iconExt}"></div>
                <div class="column4"><img src="images/img01.png" width="10" height="25"></div>
            </div>
            <div th:id="'collapse-contents' + ${iter.index}" class="collapse">
                <div class="row">
                    <div th:each="listMap, idx : ${listMap}" th:if="${iter.index} == ${idx.index}">
                        <div th:id="'container' + ${iter.index}" style="width: 100%; height: 200px; margin: 0;"></div>
                        <script th:inline="javascript">
                            var container = "#container" + [[${iter.index}]];
                            var arrValues = [[${listMap.values()}]];
                            var arrTemp = arrValues.map(function(value,index) {return value[0];});
                            var arrHumidity = arrValues.map(function(value,index) {return value[1];});
                            $(container).highcharts({
                                chart: {
                                    type: 'line',
                                    backgroundColor: '#F6F6F6',
                                    borderRadius: 10,
                                },
                                title: {
                                    text: '',
                                    enabled: false,
                                },
                                subtitle: {
                                    text: '',
                                    enabled: false,
                                },
                                exporting: {
                                    enabled: false
                                },
                                xAxis: {
                                    categories: [[${listMap.keySet()}]],
                                    crosshair: false,
                                    tickInterval: 1,
                                    gridLineDashStyle: 'longdash',
                                    gridLineColor: 'red',
                                    gridLineWidth: 0.1,
                                },
                                yAxis: {
                                    min: 0,
                                    max: 100,
                                    labels: {
                                        formatter: function () {
                                            return this.value + '%';
                                        }
                                    },
                                    title: {
                                        text: '',
                                        enabled: false,
                                    }
                                },

                                plotOptions: {
                                    column: {
                                        pointPadding: 0.2,
                                        borderWidth: 0
                                    },
                                    line: {
                                        dataLabels: {
                                            enabled: true,
                                            format: [[${tempUnit}]]
                                        },
                                        enableMouseTracking: false
                                    },
                                    series: {
                                        marker: {
                                            enabled: false,
                                        }
                                    }
                                },
                                credits: {
                                    enabled: false
                                },
                                series: [
                                    {
                                        type: 'column',
                                        name: '',
                                        data: arrHumidity,
                                        showInLegend: false,
                                        color: '#99D8CF',
                                    },
                                    {
                                        type: 'line',
                                        name: '',
                                        data: arrTemp,
                                        showInLegend: false,
                                        color: '#F1AC99',
                                    }

                                ]
                            });
                        </script>
                    </div>
                    <div class="col-8 text-start p-3">Precipitation</div>
                    <div class="col-4 text-end p-3" th:text="${#numbers.formatDecimal(dailyItem.getRain(currentUser.precipitation), 1, 2, 'POINT')} + ${units.getPrecipitationUnit(currentUser.precipitation)}"></div>
                    <div class="col-8 text-start p-3">Probability of precipitation</div>
                    <div class="col-4 text-end p-3" th:text="${#numbers.formatInteger(100 * dailyItem.pop, 1)} + '%'"></div>
                    <div class="col-8 text-start p-3">Wind</div>
                    <div class="col-4 text-end p-3" th:text="${#numbers.formatDecimal(dailyItem.getWind_speed(currentUser.windSpeed), 1, 1, 'POINT')} + ${units.getWindSpeedUnit(currentUser.windSpeed)}"></div>
                    <div class="col-8 text-start p-3">Pressure</div>
                    <div class="col-4 text-end p-3" th:text="${#numbers.formatDecimal(dailyItem.getPressure(currentUser.pressure), 1, 1, 'POINT')} + ${units.getPressureUnit(currentUser.pressure)}"></div>
                    <div class="col-8 text-start p-3">Humidity</div>
                    <div class="col-4 text-end p-3" th:text="${dailyItem.humidity} + '%'"></div>
                    <div class="col-8 text-start p-3">UV index</div>
                    <div class="col-4 text-end p-3" th:text="${dailyItem.uvi}"></div>
                    <div class="col-8 text-start p-3">Sunrise</div>
                    <div class="col-4 text-end p-3" th:switch="${currentUser.timeFormat}">
                        <div th:case="'1'" th:text="${#strings.toLowerCase(#temporals.format(dailyItem.sunrise, 'h:mma'))}"></div>
                        <div th:case="'2'" th:text="${#strings.toLowerCase(#temporals.format(dailyItem.sunrise, 'k:mm'))}"></div>
                    </div>
                    <div class="col-8 text-start p-3">Sunset</div>
                    <div class="col-4 text-end p-3" th:switch="${currentUser.timeFormat}">
                        <div th:case="'1'" th:text="${#strings.toLowerCase(#temporals.format(dailyItem.sunset, 'h:mma'))}"></div>
                        <div th:case="'2'" th:text="${#strings.toLowerCase(#temporals.format(dailyItem.sunset, 'k:mm'))}"></div>
                    </div>
                </div>
            </div>
            <hr class="no-margin" />
        </div>
    </div>
</body>
</html>