<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Setting</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/setting-page.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
    <div class="container">
        <form action="#" th:action="@{/back}" th:object="${currentUser}" method="post">
            <input id="backLat" type="hidden" th:field="*{lat}" />
            <input id="backLon" type="hidden" th:field="*{lon}" />
            <input id="backName" type="hidden" th:field="*{locationName}" />
            <div class="py-3"></div>
            <div class="row">
                <div class="col-2">
                        <button class="btn-back" type="submit" id="backSubmit" />
                </div>
                <div class="col-10">
                    <h4>Units</h4>
                </div>
            </div>
            <div class="py-4"></div>
            <div class="row">
                <div class="col-6">Temperature</div>
                <div class="switch-toggle">
                    <input id="cDegree" name="temperature" type="radio" value="1" th:field="*{temperature}" checked="" />
                    <label for="cDegree" onclick="" th:text="'&#8451;'"></label>
                    <input id="fDegree" name="temperature" type="radio" value="2" th:field="*{temperature}" checked="checked" />
                    <label for="fDegree" class="disabled" onclick="" th:text="'&#8457;'"></label>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-6">Wind speed</div>
                <div class="switch-toggle">
                    <input id="ms" name="wind-speed" type="radio" value="1" th:field="*{windSpeed}" checked="" />
                    <label for="ms" onclick="">m/s</label>
                    <input id="kms" name="wind-speed" type="radio" value="2" th:field="*{windSpeed}" checked="checked" />
                    <label for="kms" class="disabled" onclick="">km/s</label>
                    <input id="mph" name="wind-speed" type="radio" value="3" th:field="*{windSpeed}"  />
                    <label for="mph" onclick="">mph</label>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-6">Pressure</div>
                <div class="switch-toggle">
                    <input id="hPa" name="pressure" type="radio" value="1" th:field="*{pressure}" checked="" />
                    <label for="hPa" onclick="">hPa</label>
                    <input id="inHg" name="pressure" type="radio" value="2" th:field="*{pressure}" checked="checked" />
                    <label for="inHg" class="disabled" onclick="">inHg</label>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-6">Precipitation</div>
                <div class="switch-toggle">
                    <input id="mm" name="precipitation" type="radio" value="1" th:field="*{precipitation}" checked="" />
                    <label for="mm" onclick="">mm</label>
                    <input id="in" name="precipitation" type="radio" value="2" th:field="*{precipitation}" checked="checked" />
                    <label for="in" class="disabled" onclick="">in</label>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-6">Distance</div>
                <div class="switch-toggle">
                    <input id="km" name="distance" type="radio" value="1" th:field="*{distance}" checked="" />
                    <label for="km" onclick="">km</label>
                    <input id="mi" name="distance" type="radio" value="2" th:field="*{distance}" checked="checked" />
                    <label for="mi" class="disabled" onclick="">mi</label>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-6">Time format</div>
                <div class="switch-toggle">
                    <input id="12-hour" name="time-format" type="radio" value="1" th:field="*{timeFormat}" checked="" />
                    <label for="12-hour" onclick="">12-hour</label>
                    <input id="24-hour" name="time-format" type="radio" value="2" th:field="*{timeFormat}" checked="checked" />
                    <label for="24-hour" class="disabled" onclick="">24-hour</label>
                </div>
            </div>
            <hr>
        </form>
    </div>
</body>
</html>