<!DOCTYPE html>
<html lang="en" xmlns:th="http://wwww.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Sign Up</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class="text-center mt-5 mb-5">
            <h1>Sign Up</h1>
        </div>
        <form th:action="@{process_register}" method="post" th:object="${user}">
            <div class="form-group text-center row m-2">
                <input type="email" class="form-control py-3 mb-3" placeholder="E-mail" th:field="*{email}" required />
                <input type="password" class="form-control py-3 mb-3" placeholder="Password" th:field="*{password}" required minlength="6" maxlength="20" />
                <input type="text" class="form-control py-3 mb-3" placeholder="First Name" th:field="*{firstName}" required minlength="2" maxlength="20" />
                <input type="text" class="form-control py-3 mb-3" placeholder="Last Name" th:field="*{lastName}" required minlength="2" maxlength="20" />
                <button type="submit" class="btn btn-primary py-3 w-100">Sign Up</button>
            </div>
        </form>
    </div>
</body>
</html>